<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241663777855-sa72dsr8lirkcmhfj7hluunjl3h8ihtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241663777855-sa72dsr8lirkcmhfj7hluunjl3h8ihtn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241663777855-1j03bvvvmd7ne51mqot4a38aibefcqnf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_smWO_5FMo89Wko_AsBvFG4zlchvYQjM</string>
	<key>GCM_SENDER_ID</key>
	<string>241663777855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angelinagromova.Teammate</string>
	<key>PROJECT_ID</key>
	<string>teammateapp-44b53</string>
	<key>STORAGE_BUCKET</key>
	<string>teammateapp-44b53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241663777855:ios:103d388cb9f1233adcec8a</string>
</dict>
</plist>